---
import BaseLayout from "@/layout/baseLayout.astro";
import Image from "astro/components/Image.astro";

import lostManImage from "../../public/404.svg";
---
<BaseLayout title="Page non trouvé - H2VL">
    <div class="flex flex-col w-full items-center gap-10 my-20">
        <h2 class="text-2xl font-bold">Erreur 404 - page non trouvé</h2>
        <span>Avez-vous perdu votre chemin?</span>
        <Image src={lostManImage} alt="Un homme traversant une avenue"  class="h-60 w-auto"/>
    </div>
</BaseLayout>