---
import fetchApi from '@/lib/strapi';
import BaseLayout from "@/layout/baseLayout.astro";
import ArticlePreview from "@/components/articlePreview.astro"
import ImageCarousel from "@/components/imageCarousel.astro";
import Article from "@/interfaces/article";



const articles = await fetchApi<Article[]>({
  endpoint: 'articles',
  wrappedByKey: 'data',
  query: {
    populate: "*",
    "pagination[limit]": "6"
  }
});

---

<BaseLayout>
  <div id="image-carousel-wrapper" class="flex w-full justify-center">
    <ImageCarousel articles={articles} maxArticles={5} />
  </div>
  <div id="articles-preview-wrapper" class="flex w-full justify-center bg-gray-100">
    <section class="flex flex-col gap-10 mt-5 p-7 max-w-[2000px]">
      <span class="text-2xl font-bold">Actualités</span>
      <div class="grid gap-x-20 gap-y-10 lg:gap-y-20 grid-cols-1 md:grid-cols-3">
        {
          articles.map((article) => (
              <ArticlePreview article={article}/>
          ))
        }
      </div>
      <a href="/actualites" class="text-center underline text-blue-500 my-5">Voir tous les actualités</a>
    </section>
  </div>
  <div id="missions-wrapper" class="flex w-full justify-center bg-gradient-to-r from-blue-600 to-blue-400">
    <section class="text-white flex flex-col gap-10 p-7 max-w-[2000px] w-full">
      <span class="text-2xl font-bold">Nos missions</span>
      <div class="flex justify-evenly gap-10 max-md:gap-7 my-10">
        <div class="flex flex-col items-center gap-5">
          <span class="material-symbols-outlined flex justify-center items-center text-5xl max-md:text-4xl max-md:size-16 size-20 text-green-300">settings_accessibility</span>
          <span class="font-bold max-md:text-sm">Accompagner</span>
        </div>
        <div class="flex flex-col items-center gap-5">
          <span class="material-symbols-outlined flex justify-center items-center text-5xl max-md:text-4xl max-md:size-16 size-20 text-green-300">campaign</span>
          <span class="font-bold max-md:text-sm">Sensibiliser</span>
        </div>
        <div class="flex flex-col items-center gap-5">
          <span class="material-symbols-outlined flex justify-center items-center text-5xl max-md:text-4xl max-md:size-16 size-20 text-green-300">partner_exchange</span>
          <span class="font-bold max-md:text-sm">Accompagner</span>
        </div>
      </div>
    </section>
  </div>


</BaseLayout>
