---
import fetchApi from '@/lib/strapi';
import type Article from '@/interfaces/article';

const articles = await fetchApi<Article[]>({
  endpoint: 'articles', 
  wrappedByKey: 'data', 
});
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Strapi & Astro</title>
  </head>

  <body>
    <main>
      <ul>
        {
          articles.map((article) => (
            <li>
              <a href={`/blog/${article.id}/`}>
                {article.attributes.titre}
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </body>
</html>