---
import logoReference from "../../public/logo.svg";
import iconReference from "../../public/favicon.png";
import NavigationBar from "../components/navigationBar.astro";
---
<!DOCTYPE html>
<html lang="fr-FR">

    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Page web Handicap Visuel Val de Loire"/>
        <meta name="keywords" content="Handicap, Blog, France, Web"/>
        <meta name="author" content="Heyner Cuevas" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="/favicon.png" type="image/png" sizes="32x32">
        <link rel="apple-touch-icon" href="/favicon.png" type="image/png" sizes="32x32">
        <title>Handicap Visuel Val de Loire</title>
    </head>
    <body>
        <header class="h-16 flex justify-between align-middle bg-blue-500 text-white sticky top-0 px-3 items-center z-50">

            <a class="h-full" href="/"><img class="h-full py-3" src={logoReference.src} alt="logo" /> </a>
            <NavigationBar />
        </header>
        <main class="p-7 flex flex-col gap-8 z-10">
            <slot />
        </main>
        <footer>
        </footer>
    </body>
</html>



