---
import fetchApi from '@/lib//strapi';
import type Article from '@/interfaces/article';
import BaseLayout from "../../layout/baseLayout.astro";
import Image from "astro/components/Image.astro";

export async function getStaticPaths() {
  const articles = await fetchApi<Article[]>({
    endpoint: 'articles',
    query: {
      populate: '*'
    },
    wrappedByKey: 'data',
  });

  return articles.map((article) => ({
    params: { id: article.id },
    props: article,
  }));
}
const article: Article = Astro.props;
---

<BaseLayout title="Actualités - H2VL">
    <h1>{article.attributes.titre}</h1>
    <Image src={import.meta.env.STRAPI_URL + article.attributes.image.data.attributes.url} alt={"Image article " + article.attributes.titre} inferSize />


    <p>{article.attributes.contenu}</p>
</BaseLayout>